<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuche.coupon.mapper.CouponRecordMapper">

    <resultMap id="BaseResultMap" type="com.liuche.coupon.model.CouponRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="couponId" column="coupon_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="useState" column="use_state" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="couponTitle" column="coupon_title" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="conditionPrice" column="condition_price" jdbcType="DECIMAL"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
#         id,coupon_id,create_time,
#         use_state,user_id,user_name,
#         coupon_title,start_time,end_time,
#         order_id,price,condition_price,
#         update_time,is_delete
    </sql>
    <!--批量锁定用户id-->
    <update id="updateUseStateByIdBatch">
        update coupon_record set use_state = 'USED',order_id=#{outTradeNo} where use_state='NEW' and user_id=#{userId}
        and id in
        <foreach collection="recordIdList" index="index" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>

    </update>
    <update id="releaseCoupon">
        update coupon_record
        set use_state = 'NEW'
        where id = #{couponRecordId}
    </update>
</mapper>
